@page
@model AddMedicine
@{
    ViewData["Title"] = "Add Medicine page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <table border="0">
                <tr>
                    <td><label for="Name">Medicine Name</label></td>
                    <td></td>
                    <td></td>
                    <td>:</td>
                    <td></td>
                    <td></td>
                    <td><input type="text" id="Name" name="Name" placeholder="Drug Name" /></td>
                </tr>
                <tr>
                    <td><label for="Count">Count</label></td>
                    <td></td>
                    <td></td>
                    <td>:</td>
                    <td></td>
                    <td></td>
                    <td><input type="text" id="Count" name="Count" placeholder="Count" /></td>
                </tr>
                <tr>
                    <td><label for="Location">Location</label></td>
                    <td></td>
                    <td></td>
                    <td>:</td>
                    <td></td>
                    <td></td>
                    <td><input type="text" id="Location" name="Location" placeholder="Location" /></td>
                </tr>
                <tr>
                    <td><label for="MedicalStore">Medical Store Name</label></td>
                    <td></td>
                    <td></td>
                    <td>:</td>
                    <td></td>
                    <td></td>
                    <td><input type="text" id="StoreName" name="StoreName" placeholder="Store Name" /></td>
                </tr>
                <tr>
                    <td><label for="ProviderType">Provider Type</label></td>
                    <td></td>
                    <td></td>
                    <td>:</td>
                    <td></td>
                    <td></td>
                    <td><input type="text" id="ProviderType" name="ProviderType" placeholder="Provider Type" /></td>
                </tr>                                                                
                <tr>
                    <td><label for="BatchID">Batch ID</label></td>
                    <td></td>
                    <td></td>
                    <td>:</td>
                    <td></td>
                    <td></td>
                    <td><input type="text" id="BatchID" name="BatchID" placeholder="BatchID" /></td>
                </tr>                                                                
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><input type="submit" style="text-align: right;" /></td>
                    <label for="lblmsg" style="color: green;" >@ViewData["successmsg"]</label>
                </tr>                                                                                                
            </table>
        </form>
    </div>
</div> 