@page
@model AddMedicine
@{
    ViewData["Title"] = "Add Medicine page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <label for="Name">Medicine Name</label>
            <input type="text" id="Name" name="Name" placeholder="Drug Name" />
            <label for="Name">Count</label>
            <input type="text" id="Count" name="Count" placeholder="Count" />
            <label for="Name">Location</label>
            <input type="text" id="Location" name="Location" placeholder="Location" />
            <label for="Name">Medical Store Name</label>
            <input type="text" id="StoreName" name="StoreName" placeholder="Store Name" />
            <label for="Name">Provider Type</label>
            <input type="text" id="ProviderType" name="ProviderType" placeholder="Provider Type" />
            <label for="Name">Batch ID</label>
            <input type="text" id="BatchID" name="BatchID" placeholder="BatchID" />
            <input type="submit" />
        </form>
    </div>
</div> 