@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="row">
    <div class="col-md-12">
        <hr />
        @{
            List<MedicineTable> lst = ViewData["MedicineTable"] as List<MedicineTable>;

            if (lst != null)
            {
                <table border="1">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Count
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            ProviderType
                        </th>
                    </tr>
                    @{ foreach (var item in lst)
                        {
                            <tr>
                                <td>@item.name</td>                            
                                <td>@item.count</td>                            
                                <td>@item.location</td>                            
                                <td>@item.providertype</td>
                            </tr>
                        }
                    }
                </table>
            }
        }
        <hr />
        <form method="post">

            <label for="Name">Medicine Name</label>
            <input type="text" id="Name" name="Name" placeholder="Drug Name" />
            <input type="submit" />            
        </form>
        <div>            
            <input type='button' value='Add' id='addButton' onClick='redirectOnClick()' />
<script>
function redirectOnClick(){
    document.location ='/AddMedicine';
}
</script>

        </div>
    </div>
</div> 