@page
@model LoginModel
@{
    ViewData["Title"] = "Login page";
}

<div class="row">
    <div class="col-md-12">
        <form method="post">   
            <table>
                <tr>
                    <td><label for="Name">User Name</label></td>                    
                    <td><input type="text" id="Name" name="Name" placeholder="User Name" /></td>
                </tr>
                <tr>
                    <td><label for="Password">Password</label></td>
                    <td><input type="text" id="Password" name="Password" placeholder="Password" /></td>
                </tr>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Login"/></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
</div>         